<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
 <appSettings>
    <add key="MailingServerUserID" value="pQSQwa/p+0vLqlIW+IPzN978x1AglLtwp3Tr4qQFheUoxS/sCf32VT8SevZ69prhbSmZQqzw+hYWoxYbNnQbeQ=="/>
    <add key="MailingServerPassword" value="lhyvVQb6t+KvDydJBGCWPZqSsDHay7AESPXqKm1cMR0="/>
    <add key="MailingServer" value="smtp.live.com"/>
    <add key="MailingServerPort" value="587"/>
    <add key="TaskFolderPath" value="C:\\NprintingTasks\\"/>
    <add key="NpritingUserName" value="92/YQrjA6elNWAUXKYjuBhUtfFIu+RRy3pIxYrLIMfiGA+A445UAHLdS4VoeLzUq"/>
    <add key="NpritingPassword" value="sxTaIh9a49xVzPIqgBxcO1gg+aYvDK/4yDcE9ZpwOaQ="/>
    <add key="NPrintingAuthentication" value="https://35.225.36.58:4993/api/v1/login/ntlm"/>
    <add key="NPrintingGetFilters" value="https://35.225.36.58:4993/api/v1/filters/"/>
    <add key="NPrintingPutFilterField" value="https://35.225.36.58:4993/api/v1/filters/5382974f-bd1e-4866-9785-09b4a4c5c1c2"/>
    <add key="NPrintingPutGetTaskExecution" value="https://35.225.36.58:4993/api/v1/tasks/"/>

  </appSettings>
 <connectionStrings>
   <add name="dbconnection" connectionString="DLBg6bXX2ZPWm3x0N0g0DaRv672qqUci+fD/6fTklxLJ/Q+U2ucAaWK66emWJ5H7DQWzJ0KDPB48axJ9skat90uWqyqyZ80Si5OAfHU/EyyrInlmSRfKW1n4QLoZtEQwSIdHrsuJ0l8ZuwCeDrf4NxN4s2Il9uzLcSxYB+yFBKy7XBVkdg6jHWor17YVqm2kwopwFuqs+fd9CnxqzttmLRAkZodv5ifC+t3FzhtpYvnfVnheXNxaCA5Sve4Obhu3OMtUuhoXPzKy+iREyX26WQ==" providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>