<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <appSettings>
    <add key="TaskFolderPath" value="C:\\NprintingTasks\\"/>
    <add key="SecondExePath" value= "C:\\Users\\Admin\\Desktop\\TestedSchedulerCode - Copy\\MailingService2 - Copy\\MailingService2\\bin\\Release\\MailingService2.exe"/>
 </appSettings>
  <connectionStrings>
    <add name="dbconnection" connectionString="DLBg6bXX2ZPWm3x0N0g0DaRv672qqUci+fD/6fTklxLJ/Q+U2ucAaWK66emWJ5H7DQWzJ0KDPB48axJ9skat90uWqyqyZ80Si5OAfHU/EyyrInlmSRfKW1n4QLoZtEQwSIdHrsuJ0l8ZuwCeDrf4NxN4s2Il9uzLcSxYB+yFBKy7XBVkdg6jHWor17YVqm2kwopwFuqs+fd9CnxqzttmLRAkZodv5ifC+t3FzhtpYvnfVnheXNxaCA5Sve4Obhu3OMtUuhoXPzKy+iREyX26WQ==" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>